*__pycache__*
*.swp
*.csv
*.index
*.meta
*.data-00000-of-00001
tensorboard/
trained_nns/
figures/
hyperparameter_optimization/

tags
copy_and_zip
overwrite_server_runs_branch
quick_git
retrieve*
slurm*
